<div class="form-wrapper">
  <h3>Add Food to <%= @inventory.name %></h3>

  <%= form_with(model: [ @inventory, @inventory_food ], local: true) do |f| %>
    <div lass="form-group">
      <%= f.label :food_id, "Food" %>
      <%= f.collection_select :food_id, @foods, :id, :name, prompt: "Select a food", class: 'form-control' %>
    </div>

    <div lass="form-group">
      <%= f.label :quantity %>
      <%= f.number_field :quantity, autofocus: true, autocomplete: "quantity", class: 'form-control' %>
    </div>

      <%= f.submit class: "btn btn-primary", class: "btn btn-secondary" %>
  <% end %>
<div>
