<%= form_with(model: inventory) do |f| %>
    <% if inventory.errors.any? %>
      <div style="color: red">
        <h2 style="font-size: 15px">
          <%= pluralize(inventory.errors.count, "error") %> 
          prohibited this inventory from being saved:
        </h2>

        <ul>
          <% inventory.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: 'name', placeholder: 'name', class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :Description %>
      <%= f.text_area :description, autofocus: true, autocomplete: 'description', placeholder: 'description', class: 'form-control' %>
    </div>
   
    <div class="form-group">
      <%= f.number_field :user_id, value: current_user.id, type: :hidden %>
    </div>

    <%= f.submit class: "btn btn-primary", class: "btn btn-secondary" %>

<% end %>
