<div class="form-wrapper">
    <h3>Add Ingredient</h3>

    <% if @recipe_food.errors.any? %>
    <div style="color: red">
      <h2 style="font-size: 15px">
        <%= pluralize(@recipe_food.errors.count, "error") %> 
        prohibited this recipe food from being saved:
      </h2>

      <ul>
        <% @recipe_food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form_with model: @recipe_food, url: recipe_recipe_foods_path(@recipe) do |f| %>
      <div lass="form-group">
        <%= f.label :food_id, "Food" %>
        <%= f.collection_select :food_id, @foods, :id, :name, prompt: "Select a food", class: 'form-control' %>
      </div>
     
      <div lass="form-group">
        <%= f.label :quantity %>
        <%= f.number_field :quantity, autofocus: true, autocomplete: "quantity", class: 'form-control' %>
      </div>
    
      <%= f.submit class: "btn btn-primary", class: "btn btn-secondary" %>
    <% end %>
</div>
